---
layout: archive
title: "x"
permalink: /x/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner.jpg
  actions:
excerpt: 

This page is currently under construction! 

feature_row3:
  - image_path: syp.jpg
    alt: "Landslide box models during SYP geoengineering exploration."
    title: "Outreach"
    excerpt: ""

feature_row4:
  - image_path: samples.jpg
    alt: "Rock samples for an outreach event involving rock/mineral ID."
    title: "TA'ing and Instructing"
    excerpt: ""
---

{% include base_path %}

{% include feature_row id="feature_row3" type="left" %}
{% include feature_row id="feature_row4" type="left" %}