---
layout: archive
title: "Teaching and Outreach"
permalink: /edu/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner4.jpg
  actions:
excerpt: "Courses I have taught/TA'd and outreach involvement."

feature_row3:
  - image_path: samples.jpg
    alt: "Samples used for a rock/mineral ID lab"
    title: "Courses taught / TA'd"
    excerpt: "During my time at Michigan Tech, I taught the combined undergrad/grad section of 
    Planetary Geology and Geophysics (GE4530/5340) and TA'd for Fundamentals of Geophysics (GE3400).
    At U of Florida I was a TA for Geology of American National Parks (GLY3263) and Paleonotology (GLY 3603C)."
    url: 

feature_row4:
  - image_path: fl_museum.jpg
    alt: "3D elevation model"
    title: "K-12 Outreach"
    excerpt: "While at UF, I volunteered at the annual "Can You Dig It?" and "Girls Do Science" events presented 
    by the Florida Museum of Natural History and UF Dept. of Geological Sciences. They are free, family-friendly events 
    where the community can dig into geology with hands-on activities, displays, and scientific 
    demonstrations. Topics range from geology, fossils, gems, minerals, earthquakes, volcanoes, and more.
    These events garnered the attendance of 1200+ K-12 students and community members annually."

feature_row5:
  - image_path: syp.jpg
    alt: "Landslide box models"
    title: "Summer Youth Programs"
    excerpt: "I spent multiple years working with Summer Youth Programs (SYP) at Michigan Technological 
    University (MTU), a pre-college outreach initiative for young people to learn about STEM 
    and gain experience in a relaxed, hands-on way. I worked as a mentor for over 500 diverse 
    students aged 10-17 who attended the Women in Engineering, Engineering Scholars, and Engineering 
    Exploration programs. Topics covered included geology, mineralogy/petrology, geological engineering, 
    natural hazard mitigation, volcanology, and more. End surveys from the most recent year showed that 
    88% of the students I worked with gained confidence in their ability to be successful in college."
---

{% include base_path %}

{% include feature_row id="feature_row3" type="left" %}
{% include feature_row id="feature_row4" type="left" %}
{% include feature_row id="feature_row5" type="left" %}