---
layout: archive
title: "Guides"
permalink: /guides/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner2.jpg
  actions:
excerpt: "Helpful links and resources."
---

<b>This page is currently under construction!</b><br>
Eventually it will contain things such as:<br>
<ul>
    <li>Links to educational resources</li>
    <li>A list of other paleomagnetic labs</li>
    <li>Standard operating proecedures for common paleomagnetic and rock magnetic instruments</li>
    <li>Laboratory maintenance outlines</li>
    <li>Guides/how-to's for things I know I will forget</li>
</ul>

{% include base_path %}

<center>
  {% for post in site.guides %}
    {% include archive-single.html %}
  {% endfor %}
</center>