---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can find my articles, abstracts, and talks on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<html>
<body>

  <br>
  <h1>Recorded talks available online</h1>

  <h3>MagNetZ seminar on some of my work in the Deccan Traps:</h3>
  <iframe width="280" height="158" 
          src="https://www.youtube.com/embed/28MFB4GqVRU?start=1074" 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen>
  </iframe>

</body>
</html>

<!--{% include base_path %}-->

<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



