---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner.jpg
  actions:
excerpt: "I use paleomagnetic and rock magnetic tools to study the long-term history of the Earth and its magnetic field."

feature_row3:
  - image_path: dynamo.jpg
    alt: "geodynamo"
    title: "Origin and evolution of Earth's magnetic field"
    excerpt: "I am interested in the origin and evolution of Earth's magnetic field as well as how
    it links to processes within Earth's deep interior. One way to investigate this involves looking at
    long-term trends in paleointensity records. However, only ~8% (as of 2015, http://earth.liv.ac.uk/pint/) paleointensity determinations are from 
    the Precambrian despite the fact that this time period represents more than 85% of geologic history. Because of this,
    much of my work thus far has included Precambrian rocks including basalts from the ~1.1Ga Midcontinent Rift."

feature_row4:
  - image_path: Kappa.jpg
    alt: "kappa"
    title: "Rock magnetic properties of extraterrestiral mineral assemblages"
    excerpt: "In addition to magnetic processes on Earth, I am interested in constraining the magnetic fields
    of the ancient Solar nebula. To explore this topic, I have worked on several projects related to meteorites
    and their constituents. My main goal is to better understand the minerals in these magnetic assemblages and how they
    carry magnetic records through deep time. I do this primarily through rock magnetic methods such as hysteresis
    and FORC analysis, thermomagnetic characterization, and thermal and alternating field demagnetization experiments."
---

{% include base_path %}

{% include feature_row id="feature_row3" type="left" %}
{% include feature_row id="feature_row4" type="left" %}

I wrote my <a href="https://digitalcommons.mtu.edu/etdr/1049/">MS Thesis</a>
on the rock magnetic properties of the Daule L5 ordinary chondrite meteorite.
